<header class="top-nav"  style="z-index: 1000 !important;"  >
   
      
       <div class="top-nav1">
        <div class="nav-left ">

      
          <div   class=" d-flex     " >
           <!-- ==================toggler start============== -->
  
           
          <div class="res-sidenav  ">
          <!-- Hamburger Icon -->
   
  <i class="fa-solid fa-bars text-dark fs-5  pe-3" (click)="openNav()" ></i>
  <!-- Side Navbar -->
  <div id="mySidenav" class="sidenav  " [ngClass]="{ 'open': isOpen }"  style="background-color: rgb(255, 255, 255);  ">
    <!-- Close Button (White Color) -->
     
    <div class="aside-header pb-3"    >
      
        <div   class="px-3 py-2 responsive-nav"> <img class="brand-logo-sm"
          src="../assets/images/2_prev_ui.png"
          alt="Brand Logo"
          style="max-width: auto; height: 38px  "
        />
        <button class="close-btn" (click)="closeNav()">&#10005;</button></div>
      
    <div>
      <div    >
        <input style="width: 90%!important;"  class="search-container  res-search   search-box"  
          type="text"
         
          placeholder="यहां खोज करें..."
         />
        <i class="fas fa-search search-icon"  ></i>
      </div>
    </div>
  
  
    </div >
    
    <!-- Navbar Links -->
    <!-- <a   *ngFor="let item of leftNavData.categories" class="left-nav-content" [href]=" item.url">
      <div class="nav-item">
       
        <img   [src]="'https://dangalnews.revanshrenewable.com/admin/DO4U/uploads/' + item.image" alt="" width="16px" height="16px"  >

        <span style="margin: 0rem .5rem; display: inline-block; vertical-align: middle;">{{ item.category }}</span>
        <i *ngIf="item.category === 'राज्य'" class="fas fa-chevron-right" style="font-size: 16px; vertical-align: middle;  float:right;  "></i>
        
  
        
       
       
      </div>
      
    
      <ul *ngIf="item.category === 'राज्य'" class="dropdown-menu"     >
        <li *ngFor="let state of item.states"> <a  [href]=" state.url" class="link">{{ state.state_name }}</a></li>
      </ul>
    </a> -->
     <!-- ============== -->
    
     <!-- <a   *ngFor="let item of  ResLeftData.categories" class="left-nav-content" [href]=" item.url">
      <div class="nav-item">
       
        <img   [src]="'https://dangalnews.revanshrenewable.com/admin/DO4U/uploads/' + item.image" alt="" width="16px" height="16px"  >

        <span style="margin: 0rem .5rem; display: inline-block; vertical-align: middle; color: black;">{{ item.category }}</span>
        <i *ngIf="item.category === 'राज्य'" class="fas fa-chevron-right" style="font-size: 16px; vertical-align: middle;  float:right;color: black;  "></i>
        
  
        
        <ul *ngIf="item.category === 'राज्य'" class="dropdown-menu"     >
          <li *ngFor="let state of item.states" > <a  [href]=" state.url" class="link" style="color:black">{{ state.state_name }}</a></li>
        </ul>
       
      </div>
      
    
      
    </a>  -->
 
<!-- =================s -->
 
<!-- <div class="dropdown">
  <button class="  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" style="transition: initial;">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div> -->


<a *ngFor="let item of ResLeftData?.categories" class="left-nav-content" [href]="item.url">
  <div class="nav-item">
    <img *ngIf="item.image !== '5909716382svgexport-10.svg'" [src]="'https://dangalnews.revanshrenewable.com/admin/DO4U/uploads/' + item.image" alt="" width="16px" height="16px">
    <span *ngIf="item.category !== 'राज्य'" style="margin: 0rem .5rem; display: inline-block; vertical-align: middle; color: black;">{{ item.category }}</span>

    <!-- Dropdown for "राज्य" category -->
    

    <!-- Only show the dropdown if the category is 'राज्य' -->
    <div *ngIf="item.category === 'राज्य'" class="dropdown">
      <button  type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"  class="res-drop">
        <img [src]="'https://dangalnews.revanshrenewable.com/admin/DO4U/uploads/' + item.image" alt="" width="16px" height="16px">  {{item.category}}  
        <i *ngIf="item.category === 'राज्य'" class="fa-solid fa-angle-down" style="font-size: 16px; vertical-align: middle; float:right;color: black;"></i> 
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="transition: initial;">
        <li *ngFor="let state of item.states">
          <a [href]="state.url" class="dropdown-item" style="color: black;">{{ state.state_name }}</a>
        </li>
      </ul>
    </div>

    <!-- Normal link for other categories (non-'राज्य') -->
    <ul *ngIf="item.category !== 'राज्य'" class="dropdown-menu" style="display: none;">
      <li *ngFor="let state of item.states">
        <a [href]="state.url" class="link" style="color: black;">{{ state.state_name }}</a>
      </li>
    </ul>

  </div>
</a>


 

    <!-- ===================== -->
   
    

  </div>
  
          </div>
          <!-- =================TE================== -->
  
   
   
            <!-- <i class="fa-solid fa-bars toggler"></i> -->
            <img class="brand-logo-lg"
              src="../assets/images/2.webp"
              alt="Brand Logo"
              style="max-width: 100px; height: auto"
            />
            
            <img class="brand-logo-sm"
              src="../assets/images/2.webp"
              alt="Brand Logo"
              style="max-width: auto; height: 24px  "
            />
            
          </div>
 
          <div
        class="menu-item   ps-4"
        *ngFor="let items of headerData?.categories; let i = index"
        [class.first-item]="i === 0"
    >
        <!-- <i [ngClass]="items.icon"></i>  -->
         <img class="header-icons" [src]="'https://dangalnews.revanshrenewable.com/admin/DO4U/uploads/'+items.image" alt="" width="24px" height="24px">
         <a href="" class="header-link">{{items.category}}</a>
    </div>
        </div>
        <div class="nav-right "  >
          <div class="search-container" [ngClass]="{'toggle':  resSearchToggler}">
            <input
              type="text"
              class="search-box"
              placeholder="यहां खोज करें..."
            />
           
          </div>
            
          <div class="  responsive-icon   d-lg-none d-block      " id="res-search" style="display: flex; align-items: center; justify-content: center;width: 22px; font-size: 18px;color: rgb(39, 39, 39);"><i  class="fas fa-search       " (click)="searchToggler()" style="padding-top:12px;"></i>
            <!-- mob view -->
             </div>
<!-- <div class="d-none d-md-block">
web show
</div>   -->
        </div>
       </div>
      
  
      <div  class="links"   > 
        <a href="" *ngFor="let item of resHeaderData?.categories">  <img [src]="'https://dangalnews.revanshrenewable.com/admin/DO4U/uploads/'+item.image" alt="" width="16px" height="16px"  >
          {{item.category}}
        </a> 
       
     
      </div>
  
      
      <!-- <i class="fa-solid fa-xmark res-search"></i> -->
      <!-- class="fas fa-search  res-search " -->
  
<!-- ======================responsive-nav========= -->
<!-- <div class="d-flex">
  <a 
class=" res-nav    ps-4"
*ngFor="let items of res_nav; let i = index"
[class.first-item]="i === 0"
>
<i [ngClass]="items.icon"></i>  <span>{{ items.title }}</span>
</a>
 </div> -->
  </header>