<header class="top-nav"  style="z-index: 1000 !important;"  >
   
      
       <div class="top-nav1">
        <div class="nav-left ">

      
          <div   class=" d-flex     " >
           <!-- ==================toggler start============== -->
  
           
          <div class="res-sidenav  ">
          <!-- Hamburger Icon -->
   
  <i class="fa-solid fa-bars text-dark fs-5  pe-3" (click)="openNav()" ></i>
  <!-- Side Navbar -->
  <div id="mySidenav" class="sidenav  " [ngClass]="{ 'open': isOpen }"  style="background-color: rgb(255, 255, 255);  ">
    <!-- Close Button (White Color) -->
     
    <div class="aside-header pb-3"    >
      
        <div   class="px-3 py-2 responsive-nav"> <img class="brand-logo-sm"
          src="../assets/images/2_prev_ui.png"
          alt="Brand Logo"
          style="max-width: auto; height: 38px  "
        />
        <button class="close-btn" (click)="closeNav()">&#10005;</button></div>
      
    <div>
      <div    >
        <input style="width: 90%!important;"  class="search-container  res-search   search-box"  
          type="text"
         
          placeholder="यहां खोज करें..."
         />
        <i class="fas fa-search search-icon"  ></i>
      </div>
    </div>
  
  
    </div >
    
    <!-- Navbar Links -->
    
     <div *ngFor="let item of res_nav" class="d-flex res-navbar" style="padding-left: 16px;border-bottom: 1px solid rgb(229 231 235);"> <i [class]="item.icon" style="font-size: 16px;color: rgb(51 65 85);padding: 10px 5px;"></i>
      <a href="" style="color: rgb(51 65 85);font-weight: 700;  ;font-size: 18px;"  >{{item.title}}</a>
     </div>
  </div>
  
          </div>
          <!-- =================TE================== -->
  
   
   
            <!-- <i class="fa-solid fa-bars toggler"></i> -->
            <img class="brand-logo-lg"
              src="../assets/images/2.webp"
              alt="Brand Logo"
              style="max-width: 100px; height: auto"
            />
            
            <img class="brand-logo-sm"
              src="../assets/images/2.webp"
              alt="Brand Logo"
              style="max-width: auto; height: 24px  "
            />
            
          </div>
 
          <div
        class="menu-item   ps-4"
        *ngFor="let items of headerData.categories; let i = index"
        [class.first-item]="i === 0"
    >
        <!-- <i [ngClass]="items.icon"></i>  -->
         <img class="header-icons" [src]="'https://dangalnews.revanshrenewable.com/admin/DO4U/uploads/'+items.image" alt="" width="24px" height="24px">
         <a href="" class="header-link">{{items.category}}</a>
    </div>
        </div>
        <div class="nav-right "  >
          <div class="search-container" [ngClass]="{'toggle':  resSearchToggler}">
            <input
              type="text"
              class="search-box"
              placeholder="यहां खोज करें..."
            />
           
          </div>
            
          <div class="  responsive-icon   d-lg-none d-block      " id="res-search" style="display: flex; align-items: center; justify-content: center;width: 22px; font-size: 18px;color: rgb(39, 39, 39);"><i  class="fas fa-search       " (click)="searchToggler()" style="padding-top:12px;"></i>
            <!-- mob view -->
             </div>
<!-- <div class="d-none d-md-block">
web show
</div>   -->
        </div>
       </div>
      
  
      <div  class="links"   > 
        <a href="" *ngFor="let item of res_nav"> <i [ngClass]="item.icon"></i>
          {{item.title}}
        </a> 
       
     
      </div>
  
      
      <!-- <i class="fa-solid fa-xmark res-search"></i> -->
      <!-- class="fas fa-search  res-search " -->
  
<!-- ======================responsive-nav========= -->
<!-- <div class="d-flex">
  <a 
class=" res-nav    ps-4"
*ngFor="let items of res_nav; let i = index"
[class.first-item]="i === 0"
>
<i [ngClass]="items.icon"></i>  <span>{{ items.title }}</span>
</a>
 </div> -->
  </header>