<!-- <aside class="  left-nav  " style="padding: 3rem 0px">
    <a href="" *ngFor="let items of headers" class="left-nav-content">
      <div class="nav-item">
        <i class="fas fa-play-circle pe-2"> </i>
        {{ items.title }}
      </div>
    </a>
  </aside> -->


  <aside class="left-nav"  style="padding: 8px 0px; z-index: 50; " >
    <a   *ngFor="let item of leftNavData?.categories" class="left-nav-content" [href]=" item.url">
      <div class="nav-item">
       
        <img   [src]="'https://dangalnews.revanshrenewable.com/admin/DO4U/uploads/' + item.image" alt="" width="16px" height="16px"  >

        <span style="margin: 0rem .5rem; display: inline-block; vertical-align: middle;">{{ item.category }}</span>
        <i *ngIf="item.category === 'राज्य'" class="fas fa-chevron-right" style="font-size: 16px; vertical-align: middle;  float:right;  "></i>
        
  
        
        <ul *ngIf="item.category === 'राज्य'" class="dropdown-menu"     >
          <li *ngFor="let state of item.states"> <a  [href]=" state.url" class="link">{{ state.state_name }}</a></li>
        </ul>
       
      </div>
      
    
      
    </a>
    
      <div class="d-flex justify-content-around custom-icon  " >
      
        <div class="footer-icon  ms-2">
          <i class="fa-brands fa-facebook-f  "></i>
        </div>
        <div class="footer-icon ms-2">
          <i class="fa-brands fa-x-twitter  "></i>
        </div>
        <div class="footer-icon ms-2">
          <i class="fa-brands fa-instagram  "></i>
        </div>
        <div class="footer-icon ms-2">
          <i class="fa-brands fa-youtube  "></i>
        </div>
      </div>
  
  </aside>
  