<!-- <aside class="  left-nav  " style="padding: 3rem 0px">
    <a href="" *ngFor="let items of headers" class="left-nav-content">
      <div class="nav-item">
        <i class="fas fa-play-circle pe-2"> </i>
        {{ items.title }}
      </div>
    </a>
  </aside> -->


  <aside class="left-nav" style="  ;z-index: 10;">
    <a href="#" *ngFor="let item of headers" class="left-nav-content" >
      <div class="nav-item">
        <i class="{{ item.icon }}"></i> 
        {{ item.title }}
  
        
        <i *ngIf="item.title === 'राज्य'" class="fas fa-chevron-right" style="float: right;"></i>
       
      </div>
      
    
      <ul *ngIf="item.title === 'राज्य'" class="dropdown-menu"    >
        <li *ngFor="let state of states">{{ state }}</li>
      </ul>
    </a>
    <div class="  left-media-icon "  >
      
      <div class="footer-icon">
        <i class="fa-brands fa-facebook-f  "></i>
      </div>
      <div class="footer-icon">
        <i class="fa-brands fa-x-twitter  "></i>
      </div>
      <div class="footer-icon">
        <i class="fa-brands fa-instagram  "></i>
      </div>
      <div class="footer-icon">
        <i class="fa-brands fa-youtube  "></i>
      </div>
    </div>
  </aside>
  