 <div #categorizedData>
    <!-- =================breadcrum======= -->
     <div class="breadcrumps">
         
          
          <nav aria-label="breadcrumb" >
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">होम</a></li>
              <li class="breadcrumb-item"><a [href]="categoryName"> {{categoryName}}</a></li>
              <li class="breadcrumb-item"><a [href]="subcategoryName"> {{subcategoryName}}</a></li>
            </ol>
          </nav>
     </div>
<!-- ================ 1st ad======================== -->
<div class="top-ad-container mx-2 mb-4 res-ad ">
    <p class="fw-light text-center py-0 my-0">
      <small>ADVERTISEMENT</small>
    </p>
    <iframe src="" frameborder="0"></iframe>
  </div>
  <!-- ==================== -->
   <div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>
   </div>
 </div>
