<!-- <div style="width: 100%;height: 30px;background-color: rgb(245, 202, 202); ">topnav</div> -->
<div class="base-layout row mx-2" style="padding: 7px">
  <!-- ===================top-nav================ -->
  <div
    class="header col-12 top-header"
    style="margin: 0px !important; padding: 0px !important"
  >
    <app-top-nav></app-top-nav>
    <app-header></app-header>
  </div>
  <!-- ===========================left-nav============= -->
</div>
<div class="row" style="margin-top: 4rem">
  <div class="col-2">
    <app-left-navbar></app-left-navbar>
  </div>

  <!-- ==================main-content============ -->
  <div class="col-10" style="margin-left: 13%; padding: 0px !important">
    <div class="row">
      <div class="col-9 main-content">
        <div class="top-ad-container">
          <p class="fw-light text-center py-0 my-0">
            <small>ADVERTISEMENT</small>
          </p>
          <iframe src="" frameborder="0"></iframe>
        </div>
        <div style="padding: 0px">
          <router-outlet></router-outlet>
        </div>
        <app-footer  ></app-footer>
      </div>
      <div class="col-3    "  >
        <aside class="right-nav ">
          <div class="suggetion-heading">
            <a href="">#Topic</a>
   
          </div>
  
          <div>
            <mat-chip-list
              class="example-chip"
              cdkDropList
              cdkDropListOrientation="horizontal"
            >
              <mat-chip class="example-box" cdkDrag *ngFor="let topic of topics">
                {{ topic.name }}
              </mat-chip>
            </mat-chip-list>
            <div class="right-top-advertisement mt-2">
              <p class="font-light text-slate-600 text-center py-0 my-0">
                <small>ADVERTISEMENT</small>
              </p>
              <div class="ad-container mx-2">
                <iframe src="" style="overflow: hidden" title="Advertisement">
                </iframe>
              </div>
            </div>
          </div>
          <div class="suggetion-heading">
            <h5>लेटेस्ट</h5>
          </div>
  
          <div>
            <div class="right-top-advertisement mt-2">
              <p class="font-light text-slate-600 text-center py-0 my-0">
                <small>ADVERTISEMENT</small>
              </p>
              <div class="ad-container mx-2">
                <iframe src="" style="overflow: hidden" title="Advertisement">
                </iframe>
              </div>
            </div>
          </div>
  
          <app-top-button></app-top-button>
        </aside>




      </div>
 
    </div>
  </div>

  <!-- ==============right-nav============ -->
</div>
