<app-top-nav></app-top-nav>
<div class="row " style="margin-top: 3rem; max-width: 1360px;">
  <div class="col-2">
    <app-left-navbar></app-left-navbar>
  </div>

  <!-- ==================main-content============ -->
  <div class="col-10" style="margin-left: 12%; margin-right:0px;   ">
    <div class="row  layout ">
      <div class="col-9 main-content  ">
        <div class="top-ad-container">
          <p class="fw-light text-center py-0 my-0">
            <small>ADVERTISEMENT</small>
          </p>
          <iframe src="" frameborder="0"></iframe>
        </div>
        <div class="px-4">
          <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
      </div>
      <div class="col-3    ">

        <app-right-navbar></app-right-navbar>


      </div>

    </div>
  </div>

  <!-- ==============right-nav============ -->
</div>