 
.layout{
  --bs-gutter-x: 1rem;
}
 
 
/* .bar{
  height: 100%;
  position: sticky;
  top:0px

} */

 
 

/* ==============topnav */
/* Style for the top navigation */
 


/* .custom-container{
  --bs-gutter-x: 0rem !important 
} */


 


.main-content {
height: 100vw;
 
 
}

.nav-visibility {
  top: 0px
}
 


 /* ====================left nav=============== */
 
 

/* ================top ad============= */
 .top-ad-container{
  height: 8.125rem;
  background-color: rgb(243 244 246);
  margin-top: 8px;
}
body{
  margin: 0px;
  padding: 0px;
}


/* ==========================media query=============== */
 