
 .row{
   
      margin-right: -8px;
      margin-left: -8px;
    }
.footer{
     height: fit-content;
    width: 100%;
    background-color:  rgb(243 244 246);
    .news-content{
      font-size: 14px;
      color:#64748B;
      text-decoration: none;
     
      
      
    }
    

    .footer-content
    {
      border-bottom: 1px solid #B71F33;
    }
    .downloads{
     
    font-weight: 500;
    font-size:1rem
  
    }
.footer-icon{
  display: flex;align-items: center;justify-content: center;background-color: #B71F33;
  width: 32px;height: 32px;border-radius: 50%;
  margin-left:1rem ;
}
.heading{
  color:#B71F33
}
    .about-us{
      list-style: none;
      color:   #B71F33;
      text-decoration:none;
      padding-left: 3rem;
      padding-right: 3rem;
      font-weight: 800;
      font-size: 15px;
    } 
    .copyright{
      font-size: 15px;
    }
  }
  
  @media  (min-width:320px) and (max-width:768px) {
    .barcode{
      margin-top: 1.8rem;
      margin-right: 22px;
    }
    .about-us{
      padding-left: 3px !important;
      padding-right:3px !important
      ;
      white-space: nowrap;
      font-size: 14px;
     
    }
   
      .footer-icon{
        width: 20px !important;
        height: 20px !important;
        margin-left: 0px !important;
      
       font-size: 10px;
      }
  
    .res-font{
      font-size: 14px;
    }
    .res-img{
      max-width: 120px;
      max-height: 120px;
    }
    .footer-img{
      display: none;
    }
    
  }
  @media  (min-width:769px) {
    .barcode{
      margin-right: 16px;
      
    }
    .downloads-link{
      padding-left: 60px;
    }
    
  }