
 .row{
   
      margin-right: -8px;
      margin-left: -8px;
    }

    .news-content{
      padding: 10px 0px;
     
      
      
    }
.footer{
     height: fit-content;
    width: 100%;
    background-color:  rgb(243 244 246);
    
    

    .footer-content
    {
      border-top: 1px solid #B71F33;
      padding-top: 32px;
    }
    .downloads{
     
    font-weight: 500;
    font-size:1rem;
    color:black;
  
    }
.footer-icon{
  display: flex;align-items: center;justify-content: center;background-color: #B71F33;
  width: 32px;height: 32px;border-radius: 50%;
  margin-left:1rem ;
}
.heading{
  color:#B71F33;
  font-size:36px;
}
    .about-us{
      list-style: none;
      color:   #B71F33;
      text-decoration:none;
      padding-left: 3rem;
      padding-right: 3rem;
      font-weight: 800;
      font-size: 15px;
    } 
    .copyright{
      font-size: 15px;
    }
  }
  
  @media  (min-width:320px) and (max-width:768px) {

     .padding-left{
      padding-bottom: 0px !important;
      margin-bottom: 0px !important;

    }
    
    .heading{
      color:#B71F33;
      font-size:20px !important;
    }
    .barcode{
      margin-top: 2rem;
      margin-right: 22px;
    }
    .about-us{
      padding-left: 3px !important;
      padding-right:3px !important
      ;
      white-space: nowrap;
      font-size: 14px;
     
    }
   
      .footer-icon{
        width: 20px !important;
        height: 20px !important;
        margin-left: 0px !important;
      
       font-size: 10px;
      }
  
    .res-font{
      font-size: 14px;
      color:black
    }
     
    .footer-img{
      display: none;
    }
    
    .latest-article{
      color: rgb(51 65 85);
      font-weight: 500 !important;
      font-size: 1.25rem !important;
  
    }
  }


  .latest-article{
    color: rgb(51 65 85);
    font-weight: 500 !important;
    font-size: 1.5rem;

  }
  @media  (min-width:769px) {
    .barcode{
      margin-right: 16px;
      
    }
    .downloads-link{
      padding-left: 60px;
    }
    
  }