<aside class="right-nav  py-2"  >
    <div class="suggetion-heading">
      <a href="">#Topic</a>

    </div>

    <div>
      <div class="chip-list">
        <div class="chip" *ngFor="let topic of topics">
          {{ topic.name }}
        </div>
      </div>
      
      <div class="right-top-advertisement mt-2">
        <p class="font-light text-slate-600 text-center py-0 my-0">
          <small>ADVERTISEMENT</small>
        </p>
        <div class="ad-container mx-2">
          <iframe src="" style="overflow: hidden" title="Advertisement">
          </iframe>
        </div>
      </div>
    </div>

    <!-- latest -->
     
     
    <div class="latest">
      <ng-container *ngFor="let item of latestData.reviews; let i = index">
        <!-- Main display for the first item -->
        <div *ngIf="i === 0" class="suggetion-heading">
          <div class="d-flex justify-content-between">
            <div>
              <h5 class="pt-3">लेटेस्ट</h5>
            </div>
            <div class="pt-3" style="color: grey; align-items: center;">
              <a href="" style="color: grey; text-decoration: none;">
                <span class="view-more p-1">और देखें</span>
                <span class="view-more"><i class="fa-solid fa-chevron-right vm"></i></span>
              </a>
            </div>
          </div>
          <div>
            <img class="title-img" [src]="'https://dangalnews.revanshrenewable.com/admin/DO4U/uploads/' + item.image" alt="">
            <a [href]="item.url"><h3 class="title-content pt-2">{{ item.news_description[0].title }}</h3></a>
          </div>
        </div>
    
        <!-- News cards for the remaining items -->
        <div *ngIf="i > 0" class="sub-suggestion d-flex">
          <div class="sub-suggestion-img">
            <img class="sub-img" [src]="'https://dangalnews.revanshrenewable.com/admin/DO4U/uploads/' + item.image" alt="">
          </div>
          <div class="sub-suggestion-content">
            <a [href]="item.url"><h3 class="sub-content">{{ item.news_description[0].title }}</h3></a>
          </div>
        </div>
      </ng-container>
    </div>
 
    <!-- ============ trending videos=========== -->
    <div class="latest">
      <div class="suggetion-heading  "  *ngFor=" let item of  news" >
        <div class="d-flex justify-content-between">
          <div>
            <h5 class="pt-3" >ट्रेंडिंग वीडियो</h5>
          </div>
          <div  class="pt-3"  style="color: grey;align-items: center;">
           <a href="" style="color: grey;text-decoration: none;" >  <span class="view-more p-1" >और देखें</span> <span class="view-more  "><i class="fa-solid fa-chevron-right vm"></i></span></a>
      
         </div>
        </div>
        <div><img class="title-img" [src]="item.headlineVideoUrl" alt="">
       <a href=""><h3 class=" title-content pt-2">{{item.headlineContent}}</h3></a></div>
  
      </div>
      
      
   
     
  
      <!-- news cards -->
     <div class="sub-suggestion d-flex"  *ngFor=" let item of  relatedNews" >
  <div class="sub-suggestion-img">
    <img class="sub-img" [src]="item.subNewsVideoUrl" alt="">
  </div>
  <div class="sub-suggestion-content">
     <a href=""><h3 class="sub-content">{{item. subNewsContent}}</h3></a>
  </div>
     </div>
    </div>


    
    <app-top-button></app-top-button>
  </aside>