<div class="row  news   p-0  mt-4" *ngFor="let newsSection of news">
   <div class="col-12">
     <!-- Content for the full-width column -->
     <h3 class="news-title">{{newsSection.newsTitle}} </h3>
     <div class="row   "  >
       <div class="col-6">
        <!-- <div class="headNews pe-2">
         <img class="responsive-img" src="https://akm-img-a-in.tosshub.com/lingo/crtak/images/story/202409/66f8de096b995-nirmala-sitharaman-284539605-16x9.jpg?size=360:203" alt="" width="100%" height="auto">
         <h5 class="news-heading-content" style="font-size: 16px;">वित्त मंत्री निर्मला सीतारमण के खिलाफ कोर्ट ने FIR दर्ज करने का आदेश दिया, जबरन वसूली का आरोप, जानें क्या है पूरा मामला?</h5>
         <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{autherName}}</a></p>

         <div class="sub-headnews row  " >
           
               <div class="col-4" style="height:96px"> <img class="responsive-img" src="https://akm-img-a-in.tosshub.com/lingo/crtak/images/story/202409/66f8de096b995-nirmala-sitharaman-284539605-16x9.jpg?size=360:203" alt="" width="140" height="96px"></div>
            

            
              <div class="col-8  "  >  <div class="ps-2" > <h6 class="news-heading-content" style="text-align: justify;font-size: 14px;  "> 56 सालों के बाद विमान हादसे में मारे गए सेना के इस अधिकारी का शव मिला, बर्फ के इस पहाड़ में छिपा था शव!  </h6>
               <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{autherName}}</a></p></div></div>
           
         </div>
        </div> -->
         <!-- Content for the left half -->
          <!-- ================new============= -->
 <div class="headline "  >  
    <img  class="headline-img"  [src]="newsSection.headlineImgUrl" alt=""  width="100%" height="auto">
    <div class="headline-container">
      <a href="" class="link"> <h3 class="headline-content" style="text-align: justify;">{{newsSection.headlineContent}}</h3></a>
      <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ newsSection.autherName  }}</a></p>
    </div>
    <!-- ===============subnews========== -->
  
    <div class="row sub-heading  " >
      <div class="col-4  "> <img class="sub-img"  [src]="newsSection.subNewsImgUrl" alt="" width="130px" height="95px"> </div>
      <div class="col-8  ">  <div class="ps-1"><h3 class="sub-con  " style="text-align: justify;">{{newsSection.subNewsContent}}</h3>
        <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ newsSection.autherName  }}</a></p></div>
      </div>
    </div>
    
     
  </div>  
 

       </div>
       <div class="col-6 ">
        <div class="row sub-heading  align-items-center " *ngFor="let subnews of relatedNews" >
          <div class="col-4  "  > <img class="sub-img  "  [src]="subnews.subNewsImgUrl" alt=""   width="135px"    height="96px"  ></div>
          <div class="col-8  ">  <div class="ps-1"><h3 class="sub-con  " style="text-align: justify;">{{subnews.subNewsContent}}</h3>
            <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ subnews.autherName  }}</a></p></div>
          </div>
        </div>
    
         <!-- Content for the right half -->
       </div>
     </div>

     <div class="row my-4">
    
      <div class="col-12">
        <div class="d-flex justify-content-between"><h3 class="news-title"> <a href="" class="title-link">विजुअल स्टोरीज़</a></h3> <span>और देखें <i class="fa-solid fa-angle-right"></i></span></div>
        <!-- <div class="card" style="width: 18rem;     box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
          </div>
        </div> -->
  
        <!-- =================carousel start========== -->
        <div id="carouselExampleIndicators" class="carousel slide   ">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button t" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <!-- =========card========== -->
              <div class="row justify-content-evenly">
                <div class="col-3"> <div class="card" style="box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                  </div>
                </div></div>
                <div class="col-3"> <div class="card" style="box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                  </div>
                </div></div>
                <div class="col-3"> <div class="card" style="box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                  </div>
                </div></div>
                <div class="col-3"> <div class="card" style="box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                  </div>
                </div></div>
              
              </div>
            </div>
            <div class="carousel-item">
              <div class="row justify-content-evenly">
                <div class="col-3"> <div class="card" style="box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                  </div>
                </div></div>
                <div class="col-3"> <div class="card" style="box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                  </div>
                </div></div>
                <div class="col-3"> <div class="card" style="box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                  </div>
                </div></div>
                <div class="col-3"> <div class="card" style="box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                  </div>
                </div></div>
              
              </div>
            </div>
            <div class="carousel-item">
              <div class="row justify-content-evenly">
                <div class="col-3"> <div class="card" style="box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                  </div>
                </div></div>
                <div class="col-3"> <div class="card" style="box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                  </div>
                </div></div>
                <div class="col-3"> <div class="card" style="box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                  </div>
                </div></div>
                <div class="col-3"> <div class="card" style="box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                  </div>
                </div></div>
              
              </div>                                                                                                                                                    
            </div>
          </div>
          <button class="carousel-control-prev  " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon  custom-carousel-icon text-" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon custom-carousel-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- ======================CE=========== -->
      </div> 
     </div>
     <!-- =============== -->


      
   </div>

   
 </div>
 