<div class="row    p-0  mt-4">
   <div class="col-12">
     <!-- Content for the full-width column -->
   <h5>{{newsTitle}}</h5>
     <div class="row   ">
       <div class="col-6">
        <div class="headNews pe-2">
         <img class="responsive-img" src="https://akm-img-a-in.tosshub.com/lingo/crtak/images/story/202409/66f8de096b995-nirmala-sitharaman-284539605-16x9.jpg?size=360:203" alt="" width="100%" height="auto">
         <h5 class="news-heading-content" style="font-size: 16px;">वित्त मंत्री निर्मला सीतारमण के खिलाफ कोर्ट ने FIR दर्ज करने का आदेश दिया, जबरन वसूली का आरोप, जानें क्या है पूरा मामला?</h5>
         <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{autherName}}</a></p>

         <div class="sub-headnews row  " >
           
               <div class="col-4" style="height:96px"> <img class="responsive-img" src="https://akm-img-a-in.tosshub.com/lingo/crtak/images/story/202409/66f8de096b995-nirmala-sitharaman-284539605-16x9.jpg?size=360:203" alt="" width="140" height="96px"></div>
            

            
              <div class="col-8  "  >  <div class="ps-2" > <h6 class="news-heading-content" style="text-align: justify;font-size: 14px;  "> 56 सालों के बाद विमान हादसे में मारे गए सेना के इस अधिकारी का शव मिला, बर्फ के इस पहाड़ में छिपा था शव!  </h6>
               <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{autherName}}</a></p></div></div>
           
         </div>
        </div>
         <!-- Content for the left half -->
       </div>
       <div class="col-6">
         hi
         <!-- Content for the right half -->
       </div>
     </div>
   </div>
 </div>
 