<div class="row  news   " *ngFor="let newsSection of news"  >
   <div class="col-12">
    <!-- =============1st ad========== -->
    <div class="top-ad-container  mx-2 "    >
      <p class="fw-light text-center py-0 my-0">
        <small>ADVERTISEMENT</small>
        
      </p>
      <iframe src="" frameborder="0"></iframe>
    </div>


    <!-- ======================================== -->

     <!-- big news -->
        
      
     <div class="row  px-2  "  >
      <h3 class="news-title my-4">{{newsSection.newsTitle}} </h3>
       <div class="col-6">
       
         <!-- Content for the left half -->
          <!-- ================new============= -->
 <div class="headline "  >  
    <img  class="headline-img"  [src]="newsSection.headlineImgUrl" alt=""  width="100%" height="auto">
    <div class="headline-container">
      <a href="" class="link"> <h3 class="headline-content" style="text-align: justify;">{{newsSection.headlineContent}}</h3></a>
      <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ newsSection.autherName  }}</a></p>
    </div>
    <!-- ===============subnews========== -->
  
    <div class="row sub-heading  " >
      <div class="col-4  "> <img class="sub-img"  [src]="newsSection.subNewsImgUrl" alt="" width="130px" height="95px"> </div>
      <div class="col-8  ">  <div class="ps-1"><h3 class="sub-con  " style="text-align: justify;">{{newsSection.subNewsContent}}</h3>
        <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ newsSection.autherName  }}</a></p></div>
      </div>
    </div>
    
     
  </div>  
 

       </div>
       <div class="col-6 ">
        <div class="row sub-heading  align-items-center " *ngFor="let subnews of relatedNews" >
          <div class="col-4  "  > <img class="sub-img  "  [src]="subnews.subNewsImgUrl" alt=""   width="135px"    height="96px"  ></div>
          <div class="col-8  ">  <div class="ps-1"><h3 class="sub-con  " style="text-align: justify;font-size: 16px;font-weight: 700;  ">{{subnews.subNewsContent}}  </h3>
            <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ subnews.autherName  }}</a></p></div>
          </div>
        </div>
    
         <!-- Content for the right half -->
       </div>
     </div>

    
     <!-- =============== -->
      <!-- =====================visual stories start=========== -->
<div class="row my-4  " style="margin: 0px;padding: 0px; ">
    
  <div class="col-12">
    <div class="d-flex justify-content-between ;align-items-center"><h3 class="news-title"> <a href="" class="title-link">विजुअल स्टोरीज़</a></h3>  <div   style="color: grey;align-items: center;">
      <span class="view-more p-1" >और देखें</span> <span class="view-more  "><i class="fa-solid fa-chevron-right vm"></i></span>

   </div></div>
    <!-- <div class="card" style="width: 18rem;     box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
      </div>
    </div> -->

    <!-- =================carousel start========== -->
    <div id="carouselExampleIndicators" class="carousel slide   ">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button t" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <!-- =========card========== -->
          <div class="row justify-content-evenly"  >
            <div class="col-3"  *ngFor=" let story of visualStories"> 
              <div class="card" style="box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);">
              <img [src]="story.imgUrl" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> {{story.cardTitle}}</h5>
                <p class="card-text py-2"> {{
                  story.cardText}}</p>
                
              </div>
            </div></div>

             
          
          
          </div>
        </div> 
        <div class="carousel-item">
          <div class="row justify-content-evenly">
            <div class="col-3"  *ngFor=" let story of visualStories"> 
              <div class="card" style="box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);">
              <img [src]="story.imgUrl" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> {{story.cardTitle}}</h5>
                <p class="card-text"> {{
                  story.cardText}}</p>
                
              </div>
            </div></div>

            
        
          
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-evenly">
            <div class="col-3"  *ngFor=" let story of visualStories"> 
              <div class="card" style="box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);">
              <img [src]="story.imgUrl" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> {{story.cardTitle}}</h5>
                <p class="card-text"> {{
                  story.cardText}}</p>
                
              </div>
            </div></div>

        
          
          </div>                                                                                                                                                   
        </div>
      </div>
      <button class="carousel-control-prev  " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon  custom-carousel-icon text-" aria-hidden="true" ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon custom-carousel-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- ======================CE=========== -->


    
  </div> 
 </div>
 <!-- ================VSE================= -->

 
 <div class="row  " style="margin: 0px;">
  <div class="col-12">
    <!-- Content for the full-width column -->
    <h3 class="news-title">{{newsSection.newsTitle}} </h3>
    <div class="row   "  >
      <div class="col-6">
      
        <!-- Content for the left half -->
         <!-- ================new============= -->
<div class="headline "  > 
     <div  class="news-video" >
       <a href="" > <img    class="headline-img"  [src]="newsSection.headlineVideoUrl" alt=""  width="100%" height="auto">
        <div class="   rounded-circle       " style="width: 36px; height: 36px;display: flex;justify-content: center;align-items: center;    position: absolute;top:40%;left:50% ;  background-color: rgba(0, 0, 0, 0.7);   "><i class="fa-solid fa-play text-light  ; " style="font-size: 14px;"></i></div></a>
    </div> 
   <div class="headline-container">
     <a href="" class="link"> <h3 class="headline-content" style="text-align: justify;">{{newsSection.headlineContent}}</h3></a>
     <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ newsSection.autherName  }}</a></p>
   </div>
   <!-- ===============subnews========== -->
 
   <div class="row sub-heading  " >
     <div class="col-4  "> 
      <div  class="news-video" >
        <a href="" >  <img class="sub-img"  [src]="newsSection. subNewsVideoUrl" alt="" width="130px" height="95px"> 
         <div class="   rounded-circle       " style="width: 24px; height: 24px;display: flex;justify-content: center;align-items: center;  background: transparent; position: absolute;top:40%;left:50% ;background-color:  rgba(0, 0, 0, 0.7);     "><i class="fa-solid fa-play text-light ;" style="font-size: 10px;"></i></div></a>
     </div> 
       </div>
     <div class="col-8  ">  <div class="ps-1"><h3 class="sub-con  " style="text-align: justify;">{{newsSection.subNewsContent}}</h3>
       <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ newsSection.autherName  }}</a></p></div>
     </div>
   </div>
   
    
 </div>  


      </div>
      <div class="col-6 ">
       <div class="row sub-heading  align-items-center " *ngFor="let subnews of relatedNews" >
         <div class="col-4  "  > <div  class="news-video" >
          <a href="" >  <img class="sub-img"  [src]="newsSection. subNewsVideoUrl" alt="" width="130px" height="95px"> 
            <div class="   rounded-circle       " style="width: 24px; height: 24px;display: flex;justify-content: center;align-items: center;  background: transparent; position: absolute;top:40%;left:50% ;background-color:  rgba(0, 0, 0, 0.7);     "><i class="fa-solid fa-play text-light ;" style="font-size: 10px;"></i></div></a>
       </div></div>
         <div class="col-8  ">  <div class="ps-1"><h3 class="sub-con  " style="text-align: justify;">{{subnews.subNewsContent}}</h3>
           <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ subnews.autherName  }}</a></p></div>
         </div>
       </div>
   
        <!-- Content for the right half -->
      </div>
    </div>

   
    <!-- =============== -->


     
  <!-- ====================2nd add========================== -->
 
  
  </div>

</div>


<!-- ==============2nd add============== -->
<div class="row my-3">
  <div class="col-12"> <div class="top-ad-container  mx-2 "    >
    <p class="fw-light text-center py-0 my-0">
      <small>ADVERTISEMENT</small>
      
    </p>
    <iframe src="" frameborder="0"></iframe>
  </div></div>
</div>
<!-- ======================== polytics============= -->
<div class="row  px-2  "  >
  <h3 class="news-title my-4">{{newsSection.newsTitle}} </h3>
   <div class="col-6">
   
     <!-- Content for the left half -->
      <!-- ================new============= -->
<div class="headline "  >  
<img  class="headline-img"  [src]="newsSection.headlineImgUrl" alt=""  width="100%" height="auto">
<div class="headline-container">
  <a href="" class="link"> <h3 class="headline-content" style="text-align: justify;">{{newsSection.headlineContent}}</h3></a>
  <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ newsSection.autherName  }}</a></p>
</div>
<!-- ===============subnews========== -->

<div class="row sub-heading  " >
  <div class="col-4  "> <img class="sub-img"  [src]="newsSection.subNewsImgUrl" alt="" width="130px" height="95px"> </div>
  <div class="col-8  ">  <div class="ps-1"><h3 class="sub-con  " style="text-align: justify;">{{newsSection.subNewsContent}}</h3>
    <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ newsSection.autherName  }}</a></p></div>
  </div>
</div>

 
</div>  


   </div>
   <div class="col-6 ">
    <div class="row sub-heading  align-items-center " *ngFor="let subnews of relatedNews" >
      <div class="col-4  "  > <img class="sub-img  "  [src]="subnews.subNewsImgUrl" alt=""   width="135px"    height="96px"  ></div>
      <div class="col-8  ">  <div class="ps-1"><h3 class="sub-con  " style="text-align: justify;">{{subnews.subNewsContent}}</h3>
        <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ subnews.autherName  }}</a></p></div>
      </div>
    </div>

     <!-- Content for the right half -->
   </div>
 </div>


 <!-- =======================investigation=============== -->
 <div class="row  px-2  "  >
  <h3 class="news-title my-4">{{newsSection.newsTitle}} </h3>
   <div class="col-6">
   
     <!-- Content for the left half -->
      <!-- ================new============= -->
<div class="headline "  >  
<img  class="headline-img"  [src]="newsSection.headlineImgUrl" alt=""  width="100%" height="auto">
<div class="headline-container">
  <a href="" class="link"> <h3 class="headline-content" style="text-align: justify;">{{newsSection.headlineContent}}</h3></a>
  <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ newsSection.autherName  }}</a></p>
</div>
<!-- ===============subnews========== -->

<div class="row sub-heading  " >
  <div class="col-4  "> <img class="sub-img"  [src]="newsSection.subNewsImgUrl" alt="" width="130px" height="95px"> </div>
  <div class="col-8  ">  <div class="ps-1"><h3 class="sub-con  " style="text-align: justify;">{{newsSection.subNewsContent}}</h3>
    <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ newsSection.autherName  }}</a></p></div>
  </div>
</div>

 
</div>  


   </div>
   <div class="col-6 ">
    <div class="row sub-heading  align-items-center " *ngFor="let subnews of relatedNews" >
      <div class="col-4  "  > <img class="sub-img  "  [src]="subnews.subNewsImgUrl" alt=""   width="135px"    height="96px"  ></div>
      <div class="col-8  ">  <div class="ps-1"><h3 class="sub-con  " style="text-align: justify;">{{subnews.subNewsContent}}</h3>
        <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ subnews.autherName  }}</a></p></div>
      </div>
    </div>

     <!-- Content for the right half -->
   </div>
 </div>





 <!-- ============================3rd add================= -->

 <div class="row my-3">
  <div class="col-12"> <div class="top-ad-container  mx-2 "    >
    <p class="fw-light text-center py-0 my-0">
      <small>ADVERTISEMENT</small>
      
    </p>
    <iframe src="" frameborder="0"></iframe>
  </div></div>
</div>
<!-- ===============================khabardar=========== -->
<div class="row  px-2  "  >
  <h3 class="news-title my-4">{{newsSection.newsTitle}} </h3>
   <div class="col-6">
   
     <!-- Content for the left half -->
      <!-- ================new============= -->
<div class="headline "  >  
<img  class="headline-img"  [src]="newsSection.headlineImgUrl" alt=""  width="100%" height="auto">
<div class="headline-container">
  <a href="" class="link"> <h3 class="headline-content" style="text-align: justify;">{{newsSection.headlineContent}}</h3></a>
  <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ newsSection.autherName  }}</a></p>
</div>
<!-- ===============subnews========== -->

<div class="row sub-heading  " >
  <div class="col-4  "> <img class="sub-img"  [src]="newsSection.subNewsImgUrl" alt="" width="130px" height="95px"> </div>
  <div class="col-8  ">  <div class="ps-1"><h3 class="sub-con  " style="text-align: justify;">{{newsSection.subNewsContent}}</h3>
    <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ newsSection.autherName  }}</a></p></div>
  </div>
</div>

 
</div>  


   </div>
   <div class="col-6 ">
    <div class="row sub-heading  align-items-center " *ngFor="let subnews of relatedNews" >
      <div class="col-4  "  > <img class="sub-img  "  [src]="subnews.subNewsImgUrl" alt=""   width="135px"    height="96px"  ></div>
      <div class="col-8  ">  <div class="ps-1"><h3 class="sub-con  " style="text-align: justify;  ">{{subnews.subNewsContent}} </h3>
        <p class="date"><i class="fa-solid fa-calendar-days"></i> <time datetime=""  > {{date | date:'dd-mm-yyyy'}}</time> by <a href="" class="auther-name"> {{ subnews.autherName  }}</a></p></div>
      </div>
    </div>

     <!-- Content for the right half -->
   </div>
 </div>


<!-- ============================4t add================= -->

<div class="row my-3">
  <div class="col-12"> <div class="top-ad-container  mx-2 "    >
    <p class="fw-light text-center py-0 my-0">
      <small>ADVERTISEMENT</small>
      
    </p>
    <iframe src="" frameborder="0"></iframe>
  </div></div>
</div>
   </div>
 
   
 

 



 
 

 </div>





 
 
 