<nav class="nav" style="">
    <div class="d-flex gap-3">
      <a
        href="https://www.thelallantop.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-primary"
        >Lallantop</a
      >
      <a
        href="https://www.thesportstak.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-primary"
        >SportsTak</a
      >
      <a
        href="https://www.astrotak.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-primary"
        >AstroTak</a
      >
      <a
        href="https://www.newstak.in/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-primary"
        >NewsTak</a
      >
      <a
        href="https://www.thelallantop.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-primary"
        >Lallantop</a
      >
      <a
        href="https://www.thesportstak.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-primary"
        >SportsTak</a
      >
      <a
        href="https://www.astrotak.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-primary"
        >AstroTak</a
      >
      <a
        href="https://www.newstak.in/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-primary"
        >NewsTak</a
      >
      <a
        href="https://www.thelallantop.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-primary"
        >Lallantop</a
      >
      <a
        href="https://www.thesportstak.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-primary"
        >SportsTak</a
      >

      <a
        href="https://www.newstak.in/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-primary"
        >NewsTak</a
      >
    </div>
  </nav>